@model List<BusinessCore.Entity.DTO.UserListDTO>;
@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var actions = $("table td:last-child").html();
            // Append table with add row form on add new button click
            $(".add-new").click(function () {
                $(this).attr("disabled", "disabled");
                var index = $("table tbody tr:last-child").index();
                var row = '<tr>' +
                    '<td><input type="text" class="form-control" name="FirstName" id="FirstName"></td>' +
                    '<td><input type="text" class="form-control" name="LastName" id="LastName"></td>' +
                    '<td><input type="email" class="form-control" name="Email" id="Email"></td>' +
                    '<td>' + actions + '</td>' +
                    '</tr>';
                $("table").append(row);
                $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
                $('[data-toggle="tooltip"]').tooltip();
            });
            // Add row on add button click
            $(document).on("click", ".add", function () {
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                var inputEmail = $(this).parents("tr").find('input[type="email"]');
                
                input.each(function () {
                    if (!$(this).val()) {
                        $(this).addClass("error");
                        empty = true;
                    } else {
                        $(this).removeClass("error");
                    }
                });
                $(this).parents("tr").find(".error").first().focus();
                if (!empty) {
                    input.each(function () {
                        $(this).parent("td").html($(this).val());
                    });
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").removeAttr("disabled");
                }
            });
            // Edit row on edit button click
            $(document).on("click", ".edit", function () {
                $(this).parents("tr").find("td:not(:last-child)").each(function () {
                    //Except Email type
                    if (this.cellIndex != 2)
                        $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                    else
                        $(this).html('<input type="email" class="form-control" value="' + $(this).text() + '">');
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").attr("disabled", "disabled");
            });
            // Delete row on delete button click
            $(document).on("click", ".delete", function () {
                $(this).parents("tr").remove();
                $(".add-new").removeAttr("disabled");
            });
        });
    </script>
}
@{

}
<table class="table table-hover">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>User <b>Management</b></h2></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
            </div>
        </div>
    </div>
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>
                    <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">save</i></a>
                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">edit</i></a>
                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>