@section scripts
    {
    <script src="~/js/Jquery-3-5-1.js"></script>
    <script src="~/js/Jquery-datatable.js"></script>
    <script src="~/js/Jquery-datatable-bootstrap5.js"></script>
    <script>
        $('#gridusermanagement').DataTable({
            ajax: {
                url: '/User/GetGridUser',
                dataSrc: 'data',
                type: 'post',
            },
            processing: true,
            serverSide: true,
            search: {
                return: true,
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false
            }
            ],
            pageLength: 5,
            lengthMenu: [5, 10, 20, 50, 100],
            columns: [
                { data: 'userId' },
                { data: 'firstName' },
                { data: 'lastName' },
                { data: 'email' },
                { data: 'createdAtFormat' },
                {
                    //adds td row for button
                    data: null,
                    render: function (data, type, row) {
                        return '<td>'
                            + '<a class="edit btn-sm" href="/User/EditUser/' + data.userId + '" title="edit"><i class="material-icons">edit</i> </a>'
                            + '<a class="delete btn-sm" onclick=DeleteData("' + data.userId + '"); href="#" title="delete"><i class="material-icons">delete</i> </a>'
                            + '</td>';
                    },
                    orderable: false,
                    searching: false
                }
            ]
        });
        function DeleteData(userId) {
            if (confirm("Are you sure you want to delete ...?")) {

                var url = '@Url.Content("~/")' + "User/Delete";
                $.post(url, { Id: userId}, function (data) {
                    if (data == true) {
                        //alert("Delete Customer !");
                        oTable = $('#gridusermanagement').DataTable();
                        oTable.draw();
                    }
                    else {
                        alert("Something Went Wrong!");
                    }
                });
            }
            else {
                return false;
            }
        }

    </script>
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4>User <b>Management</b></h4>
            </div>
            <div class="col">
                <a class="btn btn-primary btn-lg float-end btn-sm m-1" href="/User/AddNewUser">Add New Data</a>
                @using (Html.BeginForm("Export", "User", HttpMethod.Post))
                {
                    <button type="submit" value="submit" class="btn btn-primary btn-sm float-end btn-sm m-1">Export</button>
                }
                <div class="btn-group float-end m-1">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Import
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("DownloadTemplateImport","User")">Download Template</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#shoUploadModal">Import Data</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <table id="gridusermanagement" class="table table-striped" style="width:100%" cellspacing="0">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Created</th>
                    @*<th>Created</th>*@
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
    
    <div class="modal fade" id="shoUploadModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">File Upload</h5>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Import", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">

                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control" name="file">
                            </div>
                            <div class="form-check pb-2">
                                <input type="checkbox" class="form-check-input" id="feedbackimport" name="feedbackimport" />
                                <label class="form-check-label fst-italic text-primary" for="feedbackimport">
                                    Feedback import result in excel
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Upload</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
